{% extends "base.html" %}
{% block title %}test{% endblock %}
{% block head %}
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            </li>
            
            {% if 'user' not in session %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Login
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown" style="width: 200px;">
                        <form action="/login" method="post">
                            <div style="margin: 0px 6px 0px;">
                                <label for="username" required>Username</label>
                                <input name="username" id="username" class="form-control" required><br>
                            </div>
                            <div style="margin: 0px 6px 0px;">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control" required><br>
                            </div>
                            <input type="submit" value="Log in", style="margin: 0px 6px 0px;">
                        </form>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}